/*K orange:  #EA6820*/
/*Warm Gray 8: #837870*/

body{
    font-family: "Console", Console, monospace;
}

a{
	color: #EA6820;
}

#title{
    position: fixed;
    top: 0px;
    font-size:150%;
    padding-left:350px;
    background-color:white;
    width:100%;
    z-index:+1;
}

#nav{
    position:fixed;
    top: 50px;
    padding-top:100px;
    padding-right:20px;
    left:20px;
    font-size:120%;
    height:100%;
    background-color:white;
}

#nav li{
    background-color:#2b3e85;
    list-style-type:none;
    padding: 10px;
    cursor:pointer;
}

#nav li p{
    vertical-align:middle;
    text-align:left;
    padding:0;
    margin:0;
}

#nav a{
    text-decoration:none;
    color:white;
}

#nav li:hover{
    background-color:#edac1a;
    list-style-type:none;
}

#nav a li:hover{
    text-decoration:none;
    color:#2b3e85;
}

#Logo{
    position:fixed;
    top: 50px;
    left: 52px;
    z-index: 2;
}


#bodyBox{
    margin-top: 150px;
    margin-left: 370px;
	position:relative;
	width: 60%;
	min-height: 350px;
	background-color: rgba(255,255,255,.75);
}

.hwTable td, .hwTable th, .hwTable tr{
	border: 1px solid black;
	border-collapse: collapse;
}

.hwTable{
	border-collapse: collapse;
}

.hwTable td{
	padding: 4px;
}
.hwTable th{
	padding:5px;
}
